# /portfolio/.gitignore

# Dependências
/node_modules

# Variáveis de Ambiente e Arquivos de Build
.env
.env.local
.env.development.local

# Pastas de Build (Frontend e Backend)
/frontend/dist
/frontend/build
/backend/dist
/backend/build

# Cache e Outros
.vscode/
npm-debug.log*
yarn-debug.log*